# GitHub CODEOWNERS
# For detail see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @{{ cookiecutter.github_username }}

# Architectural constraints
/.github/workflows/ @{{ cookiecutter.github_username }}
